.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vote-score-post {
  align-self: flex-start;
  font-size: 1.2em;
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.well-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.edit-comment {
  float: left;
}

.button-comment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.post-vote-score {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.post-vote-count {
  float: right;
}

.single-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-votes {
  float: left;
}

/*.main-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}*/
